# Neon.tech Cloud PostgreSQL Connection String (Paste your Neon connection string here)
DATABASE_URL=postgres://username:password@ep-host-name.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Server Listening Port (Default is 3000)
PORT=3000
